.hero-section {
padding-top: 281px;
padding-bottom: 32px;



background-image: url(../../img/hero/bg-mob@1x.png);
background-repeat: no-repeat;
background-position:  -450px;
background-size: cover;
}
@media screen and (min-resolution: 192dpi){
.hero-section {
    background-image: url(../../img/hero/bg-mob@2x.png);

}
}

@media screen and (min-width: 768px) {
.hero-section {
    background-image: url(../../img/hero/\ bg-tab@1x.png);
    background-position: -350px;
}
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
.hero-section {
    background-image: url(../../img/hero/bg-tab@2x.png);
}
}

@media screen and (min-width: 1440px) {
.hero-section {
    background-image: url(../../img/hero/bg-desk@1x.png);
    background-position: center;
}
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
.hero-section {
    background-image: url(../../img/hero/bg-desk@2x.png);
}
}
.hero-section .container {
    display: flex;
    flex-direction: column;

}
.hero-title {
color: #FAFAFA;
font-size: 50px;
font-style: normal;
font-weight: 500;
letter-spacing: -1.5px;
text-transform: uppercase;

display: block;
margin-bottom: 212px;
}

.hero-wrapper {
display: flex;
flex-direction: row;
flex-wrap: wrap;

justify-content: flex-end;
gap:4px;
}

.social-links-list {
display: flex;
gap: 4px;
justify-content: center;
}

.social-list-item {

width: 37px;
height: 37px;
}

.social-link {
display: flex;
justify-content: center;
align-items: center;

border-radius: 60px;
border: 1px solid rgba(250, 250, 250, 0.20);

color: #FAFAFA;

width: 100%;
height: 100%;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.28px;

transition: border-color var(--transition-pattern);
}

.social-link:active {
border-color: #FAFAFA;
}

.email-link {
color: #FAFAFA;
border-radius: 60px;
border: 1px solid rgba(250, 250, 250, 0.20);

display: flex;
justify-content: center;
align-items: center;

padding: 10px 8px;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.28px;

transition: border-color var(--transition-pattern);
}

.email-link:active {
    border-color: #FAFAFA;
}

@media screen and (min-width: 768px){
    .hero-section {
        padding-top: 300px;
    }
    
    
    .hero-title {
        max-width: 632px;
        height: auto;

        color: #FAFAFA;

    
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px; 
    letter-spacing: -2.7px;
    text-transform: uppercase;
    }

    .hero-wrapper {
        gap: 8px;
    }
    .social-links-list {
        gap: 8px;
    }

    .social-list-item {
        min-width: 55px;
        min-height: 55px;
 
    }
    .social-link {
        font-size: 16px;
    }

    .email-link {
    padding: 18px 24px;
    font-size: 16px;
    }
}


@media screen and (min-width: 1440px) {
    .hero-title {
        margin: 0 auto 243px auto;

        min-width: 1084px;
        height: auto;
    }

    .social-link:hover, 
    .social-link:focus {
        border-color: #FAFAFA;
    }
    .email-link:hover,
    .email-link:focus {
        border-color: #FAFAFA;
    }
}