.body-is-hidden{
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    background-color: rgba(12, 12, 12, 0.5);



    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity var(--transition-pattern),
        visibility var(--transition-pattern);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-image: url(../../img/hero/bg-mob@1x.png);
    background-color: var(--main-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-bottom: 64px;




    display: flex;
    flex-direction: column;
    transform: translateX(375px);
    transition: transform var(--transition-pattern);
}

.backdrop.is-open .modal {
    transform: translateX(0);
}

@media screen and (min-resolution: 192dpi) {
    .modal {
        background-image: url(../../img/hero/bg-mob@2x.png);
    }
}

.mobile-menu-btn {
    position: absolute;
    top: 32px;
    right: 16px;

    background-color: transparent;
    border: none;

}

.close-btn-icon {
    stroke: rgba(250, 250, 250, 1);
}

.mob-menu-navigation {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;



}

.nav-item {
    text-align: center;
}

.nav-link {
    color: #FAFAFA;
    min-width: 67px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;

    transition: color var(--transition-pattern);


}

.nav-link::after {
    display: block;
    content: '';
    background-color: #FAFAFA;
    width: 100%;
    height: 1px;
}

.nav-link:active {
    color: #93d3cd;
}

.order-link-burger {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 163px;
    height: 55px;
    padding: 18px 24px;
    border-radius: 60px;
    background-color: #2B4441;
    text-decoration: none;


    color: #FAFAFA;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;


    margin-right: auto;
    margin-left: auto;



    transition: background-color var(--transition-pattern);
}

.order-link-header:active {
    background-color: #93d3cd;
}

@media screen and (min-width:768px) {
    .backdrop {
        display: none;
    }

}