<section class="about-me-section">
  <div class="container">
    <h2 class="visually-hidden" hidden>Self-presentation</h2>
    <div class="intro-wrapper">
      <div class="intro-item">
        <p class="intro-text">
          I work with people all over the world to create impressive and
          <span class="functional">functional</span>
          <span class="web">websites</span> that reflect each client's unique
          personality.
        </p>
      </div>
      <div class="intro-ph">
        <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    ../../img/about-me/desk@1x.png 1x,
                    ../../img/about-me/desk@2x.png 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    ../../img/about-me/tab@1x.png 1x,
                    ../../img/about-me/tab@2x.png 2x
                  "
                />
                <source
                  media="(min-width:320px)"
                  srcset="
                    ../../img/about-me/mob@1x.png 1x,
                    ../../img/about-me/mob@2x.png 2x
                  "
                />
                <img
                  class="photo"
                  src="../../img/about-me/mob@1x.png"
                  alt="me-at-the-computer"
                  width="1360"
                  height="1400"
                />
     
      </div>
    </div>
  </div>
</section>
