<div class="backdrop">
  <div class="modal">
    <button class="mobile-menu-btn">
      <svg class="close-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="mob-menu-navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
      </ul>
    </div>
    <a class="order-link-header" href="#work-together">Order the project</a>
  </div>
</div>
